# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# IDE / System
.vscode/
.idea/
.DS_Store
*.log

# Kubernetes Secrets
*secret*.yaml
*.secret.yaml
secrets/

